* {
	margin: 0;
}

header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	grid-template-areas: 
	". logo .";
}
.header__logo {
	grid-area: logo;
}
.header__logo img {
	width: 200px;
}
body {
	background-color: darkcyan;
	/*color it's just for test*/
}