* {
	margin: 0;
}

header {
	display: grid;
	width: 100%;
}
header .header-logo {
	/*    border: solid 2px black;*/
	width: 50%;
	margin: 25px 90px auto 10px;
	display: inline-block;
}
header .buttons-become_collab {
	/*link del enlace become a collaborator*/
	display: inline-block;
	width: 70px;
	text-decoration: none;
	color: black;
	background-color: white;
	border-bottom: solid 1px black;
}
