header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 120px;
	grid-template-areas: 
	"logo desc lcollab"
	"nav nav nav";
}
.header__logo {
	grid-area: logo;
	margin: auto 20px auto 20px;
}
.header__logo img {
	width: 200px;
}
.header__desc {
	display: block;
	padding-top: 12px;
	padding-left: 12px;
	height: 60px;
	grid-area: desc;
	font-weight: 100;
	justify-self: center;
	align-self: center;
	border-left:solid #333 2px;
}
.header__links {
	grid-area: lcollab;
	display: block;
	margin-left: 15px;
	width: 80px;
	align-self: center;
}
.header__links__bcollab {
	font-size: 17px;
	font-weight: 600;
	color: #333;
	text-decoration: none;
}
.header__navbar {
	grid-area: nav;
	height: 80px;
	background-color: #b4b4b4;
}
.header__navbar__links {
	list-style: none;
	padding-top: 15px;
	padding-left: 70px;
	padding-right: 70px;
	justify-self: center;
	align-self: center;
}
.header__navbar__links li {
	display: inline-block;
	padding-right: 60px;
	padding-bottom: 15px;
}
.header__navbar__links li a {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #333;
	text-decoration: none;
}
.header__navbar__links li a:hover{
	border-bottom: solid #333;
	border-radius: 5px;
}
main {
	background-color: #f5f5f5;
}
